@import "fonts/fonts.css";


body{
   width: 100%!important;
position: relative;
overflow-x: hidden;
}

#student-info .card-header{
   padding: 1rem 1rem 0.6rem;
   background-color: #011627!important;
   border-bottom: none!important;
   font-size: 1.5rem;
   color: #ff9f1c
}

#timesheet .card-header{
   padding: 1rem 1rem 0.6rem;
   background-color: #011627!important;
   border-bottom: none!important;
   font-size: 1.5rem;
   color: #ff9f1c
}
.sidebar{
   background-color: #011627!important;
}
.profile{
  background: steelblue;
  height: 8rem;
  width: 8rem;
  margin: 5% 25%;
  border-radius: 4rem;
  background-image: url(../image/janu.webp);
  background-size: cover;
}
#result{
   padding: 0px!important;
}

#result .card-header{
   padding: 1rem 1rem 0.6rem;
   background-color: #011627!important;
   border-bottom: none!important;
   font-size: 1.5rem;
   color: #ff9f1c
}
#subjects .card-header{
   padding: 1rem 1rem 0.6rem;
   background-color: #011627!important;
   border-bottom: none!important;
   font-size: 1.5rem;
   color: #ff9f1c
}
#subjects .card-body{
   padding: 1rem 0.5rem;
}
#subjects .check-holder{
   padding: 2% 8%;
}

#mo{
   width: 100%;
}

#main{
   margin-top:4rem
}
